## Volume of a sphere

In [2]:
def vol(rad):
    return (4/3) * (3.14) * (rad)**3

In [3]:
vol(2)

33.49333333333333

In [4]:
## inclusive in the ranghe

In [5]:
for item in range(0, 5):
    print(item)

0
1
2
3
4

In [7]:
5 in range(0, 5)

False

In [8]:
def ran_check(num, low,high):
    return num in range(low, high+1)

In [9]:
ran_check(5, 2, 7)

True

In [10]:
def ran_check(num, low,high):
    if num in range(low, high+1):
        print(f'{num} is in range of {low} and {high}')
    else:
        print('not in range')

In [11]:
ran_check(5, 2, 7)

5 is in range of 2 and 7

In [12]:
## number of upper case and lower case letters

In [16]:
def up_low(s):
    lowercase = 0
    uppercase = 0
    
    for char in s:
        if char.isupper():
            uppercase += 1
        elif char.islower():
            lowercase += 1
        else:
            pass
        
    print(f"Original String: {s}")
    print(f"Lowercase count: {lowercase}")
    print(f"Uppercase count: {uppercase}")

In [17]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
Lowercase count: 33
Uppercase count: 4

In [20]:
def up_low(s):
    d = {'upper':0, 'lower':0}
    
    for char in s:
        if char.isupper():
            d['upper'] += 1
        elif char.islower():
            d['lower'] += 1
        else:
            pass
    print(f"Original String: {s}")
    print(f"Lowercase count: {d['lower']}")
    print(f"Uppercase count: {d['upper']}")

In [21]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
Lowercase count: 33
Uppercase count: 4

In [22]:
## unique elements

In [23]:
def unique_list(lst):
    return list(set(lst))

In [24]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [29]:
def unique_list(lst):
    seen_numbers = []
    for number in lst:
        if number not in seen_numbers:
            seen_numbers.append(number)
    return seen_numbers

In [30]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [31]:
## Multiply all elements in list

In [32]:
def multiply(numbers):
    total = 1
    for num in numbers:
        total = total * num
    return total

In [33]:
multiply([1,2,3,-4])

-24

In [34]:
## palindrome

In [39]:
def palindrome(s):
    # remove spaces string
    s = s.replace(' ', '')
    # check if string is == reversed version of the string
    return s == s[::-1]

In [40]:
palindrome('nurses run')

True

In [41]:
## pangrams

In [48]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    # create a set of the alphabet
    alphaset = set(alphabet)
    # remove any spaces from the input string
    str1 = str1.replace(' ', '')
    # convert into all lowercase
    str1 = str1.lower()
    # grab all unique letters from the string set()
    str1 = set(str1)
    # alphabet set == strign set input
    return str1 == alphaset

In [49]:
ispangram("The quick brown fox jumps over the lazy dog")

True