In [1]:
if True:
    print('ITS True!')

ITS True!

In [2]:
if 3 > 2:
    print("Its True!")

Its True!

In [3]:
hungry = True
if hungry:
    print("Feed Me!")

Feed Me!

In [4]:
hungry = False
if hungry:
    print("Feed Me!")

In [6]:
hungry = False
if hungry:
    print("Feed Me!")
else:
    print("I am not hungry!")

I am not hungry!

In [7]:
hungry = False
if hungry == True:
    print("Feed Me!")
else:
    print("I am not hungry!")

I am not hungry!

In [11]:
loc = 'Game'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print("I do not know much!")

I do not know much!

In [14]:
name = 'John'

if name == 'Frankie':
    print("Hello Frankie")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

What is your name?

## For Loops

In [15]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [21]:
for num in mylist:
    # check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number : {num}')

Odd Number : 1
2
Odd Number : 3
4
Odd Number : 5
6
Odd Number : 7
8
Odd Number : 9
10

In [22]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [23]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [24]:
mystring = 'hello world'

for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [25]:
mystring = 'hello world'

for letter in 'hello world':
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [26]:

for letter in 'hello world':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [27]:
tup = (1, 2, 3)

for item in tup:
    print(item)

1
2
3

In [28]:
mylist = [(1, 2), (3, 4), (5, 6), (7, 8)]

In [29]:
len(mylist)

4

In [30]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [32]:
for (a, b) in mylist:
    print(a)

1
3
5
7

In [33]:
mylist = [(1, 2, 3), (5, 6, 7), (8, 9, 10)]

In [34]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [35]:
for a, b, c in mylist:
    print(b)

2
6
9

In [36]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [38]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [39]:
for key, value in d.items():
    print(value)

1
2
3

In [40]:
for value in d.values():
    print(value)

1
2
3

## while

In [2]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    #x = x + 1
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [5]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    #x = x + 1
    x += 1
else:
    print("x is not less than 5")

x is not less than 5

## break, continue, pass

In [10]:
x = [1, 2, 3]

for item in x:
    # comment 
    pass # does nothing at all

print('end of my script')

end of my script

In [13]:
mystring = 'Sammy'

In [15]:
for letter in mystring:
    if letter == 'a':
        continue  # goes to the top of the closest enclosing loop
    print(letter)

S
m
m
y

In [17]:
for letter in mystring:
    if letter == 'a':
        break  # breaks out of the current closest enclosing loop
    print(letter)

S

In [19]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

## Useful operators

In [20]:
mylist = [1, 2, 3]

In [23]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

In [24]:
range(0, 11, 2)

range(0, 11, 2)

In [25]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [27]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [28]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [30]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [31]:
word = 'abcde'

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [32]:
mylist1 = [1, 2, 3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

In [33]:
zip(mylist1, mylist2)

In [34]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [35]:
mylist1 = [1, 2, 3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

In [36]:
zip(mylist1, mylist2, mylist3)

In [37]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [38]:
mylist1 = [1, 2, 3, 4, 5, 6]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

In [39]:
zip(mylist1, mylist2, mylist3)

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [40]:
list(zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [41]:
for a, b, c in zip(mylist1, mylist2, mylist3):
    print(b)

a
b
c

In [44]:
2 in [1, 2, 3]

True

In [45]:
'w' in ['x', 'y', 'z']

False

In [46]:
'a' in 'a world'

True

In [47]:
'mykey' in {'mykey':345}

True

In [48]:
d = {'mykey':345}

345 in d.values()

True

In [49]:
345 in d.keys()

False

In [50]:
mylist = [10, 20, 30, 40, 100]

In [51]:
min(mylist)

10

In [52]:
max(mylist)

100

In [53]:
from random import shuffle

In [54]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
random_list = shuffle(mylist)

In [61]:
type(random_list)

NoneType

In [62]:
mylist

[3, 7, 4, 2, 6, 8, 9, 10, 5, 1]

In [63]:
from random import randint

In [68]:
randint(0, 100)

43

In [69]:
mynum = randint(0, 10)

In [70]:
mynum

4

In [72]:
result = input('What is your name: ')

What is your name: Jose

In [73]:
result

'Jose'

In [78]:
result = int(input('What is your favourite number: '))

What is your favourite number: 30

In [79]:
type(result)

int

In [76]:
float(result)

30.0

In [77]:
int(result)

30

## List comprehensions

In [80]:
mystring = 'hello'

In [81]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [82]:
mylist

['h', 'e', 'l', 'l', 'o']

In [83]:
mylist = [letter for letter in mystring]

In [84]:
mylist

['h', 'e', 'l', 'l', 'o']

In [88]:
mylist = [two for two in 'word']

In [89]:
mylist

['w', 'o', 'r', 'd']

In [95]:
mylist = [num**2 for num in range(0, 11)]

In [96]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [99]:
mylist = [x**2 for x in range(0, 11) if x % 2 ==0]

In [100]:
mylist

[0, 4, 16, 36, 64, 100]

In [102]:
celsius = [0, 10, 20, 34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius]

In [103]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [104]:
fahrenheit = []
for temp in celsius:
    fahrenheit.append(((9/5)*temp + 32))

In [105]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [106]:
results = [x if x%2 == 0 else 'ODD' for x in range(0, 11)]

In [107]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [110]:
mylist = []

for x in [2, 4, 6]:
    for y in [1, 10, 1000]:
        mylist.append(x*y)

In [111]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [112]:
mylist = [x*y for x in [2, 4, 6] for y in [1, 10, 100]]

In [113]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]